[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bpython = "*"

[packages]
anki = "==2.1.*"
aqt = "==2.1.*"
pyqt5 = "==5.*"
pyqtwebengine = "==5.*"

[requires]
python_version = "3.9"
